body{
    background-color: white;
}

.fg{
    background-color:purple;
    text-align: center;
    padding: 1px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;

}

.fg p{
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

header{
    background-color: rgb(137, 31, 223);
    padding-bottom: 30px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
}

.bombs{
    margin-left: 10px;
    margin-top: 10px;
}

.teste{
    display: flex;
}

.lob1{
    text-align: center;
    padding-top: 60px;
    margin-left: 150px;
}

.lob1 a{
    background-color: purple; 
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

.lob1 a:hover{
    background-color: rgb(165, 0, 165);
    transition: .3s;
}

.lob2{
    padding-top: 50px;
    margin-left: 200px;
}

.lob2 a{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.lob2 a:hover{
    color: black;
    transition: .7s;
    padding: 20px;
    border-bottom: solid purple;
}

.miranha{
    margin-top: 5px;
}

.info{
    background-color: rgb(204, 204, 204);
    text-align: center;
    padding: 30px;
    margin-left: -8px;
    margin-right: -8px;
}

.info a{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.info a:hover{
    transition: .7s;
    padding: 20px;
    border-bottom: solid purple;
}

.omv{
    font-family: cursive;
    font-size: 30px;
    margin-left: 20px;
}

.favoritos{
    text-align: center;
}

footer{
    background-color: rgb(61, 8, 77);
    color: aliceblue;
    text-align: center;
    margin-top: 00px;
}